<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Reset -->
        <link rel="stylesheet" href="/estatico/css/reset.css" />
        <link rel="stylesheet" href="/estatico/css/normalize.css" />
        <title>Altera Funcionário</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="/estatico/css/style.css" />
    </head>

    <body>
        <header>
            <nav class="color nav navbar-expand-md justify-content-between">
                <img class="logo-header rounded p-3" src="/estatico/img/logo.png" alt="Logo da prefeitura de Mogi Mirim">
        
                <div class="nav justify-content-center align-self-center">
                    <a class="btn btn-custom mr-1" href="/funcionario-consulta">Voltar</a>                        
                </div>                
            </nav>
        </header>

        <main class="container">
            <h1 class="font text-center display-4 py-4">Altera Funcionário</h1>

            <form name="alteraFuncionario" method="post" action="/funcionario-altera">

                <input class="form-control" type="hidden" name="_method" value="PUT">
                <input class="form-control" type="hidden" id="id" name="id" value="${data.funcionario.id}" />

                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="nomeFuncionario">Nome</label>
                        <input class="form-control" type="text" id="nomeFuncionario" name="nomeFuncionario"
                            value="${data.funcionario.nome}" required />
                    </div>

                    <div class="col-md-6 form-group">
                        <label for="telefoneFuncionario">Telefone</label>
                        <input class="form-control" type="text" id="telefoneFuncionario" name="telefoneFuncionario"
                            value="${data.funcionario.telefone}" maxlength="11" required />
                    </div>

                    <div class="col-md-6 form-group">
                        <label for="emailFuncionario">E-mail</label>
                        <input class="form-control" type="email" id="emailFuncionario" name="emailFuncionario"
                            value="${data.funcionario.email}" required />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-lg-2">
                        <button type="submit" class="btn btn-primary btn-lg btn-block" onsubmit="unmask()">Salvar</button>
                    </div>
                </div>
            </form>
        </main>

        <footer>
            <div class="container-fluid color text-center p-3">
                <img class="logo-footer rounded img-fluid" src="/estatico/img/logo-2.png" alt="Logo 2 da prefeitura de Mogi Mirim">
    
                <p class="text-dark mb-1">Copyright © 2020 | Todos os direitos reservados. Prefeitura de Mogi Mirim.</p>
                <p class="text-dark">Rua Doutor José Alves, 129 - Centro - 13800-900 - Mogi Mirim - SP - Brasil.
                    Tel.19 3814.1000</p>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

        <script>
            function unmask() {
                $('#telefoneFuncionario').unmask()
            }

            $(function () {
                $('#telefoneFuncionario').mask('(00) 00000-0000')
            })
        </script>
    </body>

</html>