<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Reset -->
        <link rel="stylesheet" href="/estatico/css/reset.css" />
        <link rel="stylesheet" href="/estatico/css/normalize.css" />    
        <title>Listagem de Funcionários</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="/estatico/css/cor-principal.css" />
        <link rel="stylesheet" href="/estatico/css/header.css" />
        <link rel="stylesheet" href="/estatico/css/footer.css" />
        <link rel="stylesheet" href="/estatico/css/main.css" />  
    </head>

    <body>
        <header>
            <nav class="color nav navbar-expand-md justify-content-between">
                <img class="logo-header rounded p-3" src="/estatico/img/logo.png" alt="Logo da prefeitura de Mogi Mirim">
        
                <div class="nav justify-content-center align-self-center">
                    <a class="btn-principal nav-item btn m-1" href="/home">Voltar</a>                        
                </div>                
            </nav>
        </header>

        <main class="container">
            <h1 class="font text-center display-4 py-4">Listagem de Funcionários</h1>

            <table class="table table-bordered table-hover table-responsive-lg" id="funcionarios">
                <thead class="thead-light">
                    <tr class="text-center">
                        <th>ID</th>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Telefone</th>
                        <th>Email</th>
                        <th>Cargo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" id="funcionario_${funcionario.id}" for (funcionario in data.funcionarios)>
                        <td>${funcionario.id}</td>
                        <td>${funcionario.nome}</td>
                        <td>${funcionario.cpf}</td>
                        <td>${funcionario.telefone}</td>
                        <td>${funcionario.email}</td>
                        <td>${funcionario.nivelAcesso}</td>
                        <td><a href="/funcionario-altera/${funcionario.id}">Editar</a></td>
                        <td><a class="text-danger" href="#" onclick="inativar();">Inativar</a></td>
                            <script>
                            function inativar(){
                                var resp= window.confirm("Deseja Inativar esse Funcionário?");
                                if(resp){
                                    window.alert("Inativado com sucesso");

                                    window.location.href="/funcionario-inativa/${funcionario.id}";
                                }
                            }
                            </script>
                    </tr>
                </tbody>
            </table>
        </main>

        <footer>
            <div class="container-fluid color text-center p-3">
                <img class="logo-footer rounded img-fluid" src="/estatico/img/logo-2.png" alt="Logo 2 da prefeitura de Mogi Mirim">

                <p class="mb-1">Copyright © 2020 | Todos os direitos reservados. Prefeitura de Mogi Mirim.</p>
                <p>Rua Doutor José Alves, 129 - Centro - 13800-900 - Mogi Mirim - SP - Brasil.
                    Tel.19 3814.1000</p>
            </div>
        </footer>
    </body>
</html>