<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <h1> Listagem de Cidadãos </h1>

        <table id="cidadaos">
            
            <tr>
                <td>ID</td>
                <td>Nome</td>
                <td>cpf</td>
                <td>telefone</td>
                <td>email</td>
            </tr>
            
            <tr id="cidadao_${cidadao.id}" for (cidadao in data.cidadaos)>
                <td>${cidadao.id}</td>
                <td>${cidadao.nome}</td>
                <td>${cidadao.cpf}</td>
                <td>${cidadao.telefone}</td>
                <td>${cidadao.email}</td>
                <td><a href="#">Editar</a></td>
                <td><a href="#" data-ref="${cidadao.id}" data-type="remocao">Deletar</a></td>
            </tr>

        <script src="/estatico/js/remove-cidadao.js">
        </script>

        </table> 
    </body> 
</html>