<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Reset -->
    <link rel="stylesheet" href="/estatico/css/reset.css" />
    <link rel="stylesheet" href="/estatico/css/normalize.css" />    
    <title>Cadastro de Cidadão</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/estatico/css/style.css" />    
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light identidade-visual">
            <a class="navbar-brand logo" href="#"><img src="/estatico/img/logo.png" alt=""></a>
            <div class="ml-auto">
                <a class="btn btn-danger text-white" href="/home">Voltar</a>
            </div>
        </nav>
    </header>

    <main class="container">
        <h1 class="text-center display-4 py-4">Cadastro de Funcionario</h1>

        <form name="cadastraFuncionario" method="post" action="/funcionario">
            <input class="form-control" type="hidden" id="id" name="id" />
            <div class="form-group mb-3">
                <label for="nomeFuncionario">Nome</label>
                <input class="form-control" type="text" id="nomeFuncionario" name="nomeFuncionario" required />
            </div>
            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label for="cpfFuncionario">CPF</label>
                    <input class="form-control" type="text" id="cpfFuncionario" name="cpfFuncionario"
                        placeholder="999.999.999-99" pattern=".{11,}" maxlength="11" required>
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label for="telefoneFuncionario">Telefone</label>
                    <input class="form-control" type="text" id="telefoneFuncionario" name="telefoneFuncionario"
                        placeholder="(99)99999-9999" pattern="[0-9]{11}" maxlength="11" required />
                </div>
            </div>
            <div class="form-group mb-3">
                <label for="emailFuncionario">E-mail</label>
                <input class="form-control" type="email" id="emailFuncionario" name="emailFuncionario" required />
            </div>
            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label for="senhaFuncionario">Senha</label>
                    <input class="form-control" type="password" id="senhaFuncionario" name="senhaFuncionario" />
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label for="confirmaSenhaFuncionario">Confirmar Senha</label>
                    <input class="form-control" type="password" id="confirmaSenhaFuncionario" name="confirmaSenhaFuncionario" />
                </div>
                <div class="form-group col-md-6 mb-3">
                
                    <label for="nivelAcesso">Cargo</label>
                    <select name="nivelAcesso" required >
                        <option></option>
                        <option value="Administrador">Administrador</option>
                        <option value="Agente de Saúde">Agente de Saúde</option>
                    </select>
                
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-lg-2">
                    <button type="submit" class="btn btn-primary btn-lg btn-block"
                        onclick="return validar()">Cadastrar</button>
                </div>
            </div>

        </form>
    </main>

    <footer class="pt-3">
        <div class="jumbotron mb-0 identidade-visual">
            <img class="logo-footer mx-auto d-block img-fluid" src="/estatico/img/logo-2.png" alt="">

            <p class="copyright text-center mb-0">Copyright © 2020 | Todos os direitos reservados. Prefeitura de Mogi
                Mirim.</p>
            <p class="copyright text-center">Rua Doutor José Alves, 129 - Centro - 13800-900 - Mogi Mirim - SP - Brasil.
                Tel.19 3814.1000</p>
        </div>
    </footer>

    <script type="text/javascript">
        function validar() {
            var senha = cadastraFuncionario.senhaFuncionario.value;
            var confirmaSenha = cadastraFuncionario.confirmaSenhaFuncionario.value;

            if (senha == "" || senha.length <= 5) {
                alert('Preencha o campo "Senha" com no minímo 6 caracteres');
                cadastraFuncionario.senhaFuncionario.focus();
                return false;
            }

            if (confirmaSenha == "") {
                alert('Preencha o campo "Confirmar Senha"');
                cadastraFuncionario.confirmaSenhaFuncionario.focus();
                return false;
            }

            if (senha != confirmaSenha) {
                alert('Senhas diferentes!');
                cadastraFuncionario.confirmaSenhaFuncionario.focus();
                return false;
            }
        }
    </script>
</body>

</html>