<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Reset -->
        <link rel="stylesheet" href="/estatico/css/reset.css" />
        <link rel="stylesheet" href="/estatico/css/normalize.css" />
        <title>Como Denunciar?</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="/estatico/css/cor-principal.css" />
        <link rel="stylesheet" href="/estatico/css/header.css" />
        <link rel="stylesheet" href="/estatico/css/footer.css" />
        <link rel="stylesheet" href="/estatico/css/main.css" />

    </head>

    <body>
        <header>
            <div class="img-banner">
                <nav class="color nav navbar-expand-sm justify-content-between">
                    <img class="logo-header rounded p-3" src="/estatico/img/logo.png" alt="Logo da prefeitura de Mogi Mirim">

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                            <path fill-rule="evenodd" d="M4 7a1 1 0 100-2 1 1 0 000 2zm4.75-1.5a.75.75 0 000 1.5h11.5a.75.75 0 000-1.5H8.75zm0 6a.75.75 0 000 1.5h11.5a.75.75 0 000-1.5H8.75zm0 6a.75.75 0 000 1.5h11.5a.75.75 0 000-1.5H8.75zM5 12a1 1 0 11-2 0 1 1 0 012 0zm-1 7a1 1 0 100-2 1 1 0 000 2z">
                            </path>
                        </svg>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <div class="navbar-nav ml-auto ">
                            <a class="btn-principal nav-item btn m-1" href="/login">Entrar</a>
                            <a class="btn-principal nav-item btn m-1" href="/cid-cadastro">Cadastrar</a>
                        </div>
                    </div>

                </nav>

                <div class="container-fluid banner">
                    <h1>Todos contra a dengue</h1>
                </div>
            </div>

            <div>
                <nav class="menu">
                    <ul class="container">
                        <li class="lista-menu"> <a class="caixa" href="/">Home</a></li>
                        <li class="lista-menu"> <a class="caixa active" href="/comoDenun">Como Denunciar?</a></li>
                        <li class="lista-menu"> <a class="caixa" href="denuncia-cadastro">Denunciar Agora</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <main class="container">
            <h1 class="font text-center display-4 py-4">Para poder denunciar um local de risco, é
                necessário efetuar um cadastro
                no sistema, fornecendo as seguintes informações:</h1>

            <ul class="list-group text-justify">
                <li class="list-group-item list-group-item-action border border-primary mb-3"><b>Nome completo</b> e
                    <b>CPF</b>
                    para a
                    identificação e garantia da
                    autenticidade das
                    denúncias.</li>
                <li class="list-group-item list-group-item-action border border-primary mb-3"><b>Telefone</b> e
                    <b>E-mail</b>
                    para contato
                    e/ou envio de informações
                    sobre o caso
                    denunciado.</li>
                <li class="list-group-item list-group-item-action border border-primary mb-3">Uma <b>senha</b> que servirá
                    para
                    garantir que apenas o dono da
                    conta a acesse.
                </li>
                <li class="list-group-item list-group-item-action border border-primary mb-3">Após realizar o
                    <b>cadastro</b>,
                    é
                    preciso <b>iniciar uma sessão</b>
                    com sua conta no
                    sistema,
                    utilizando seu <b>E-mail</b>
                    como login e inserindo a senha cadastrada anteriormente.</li>
                <li class="list-group-item list-group-item-action border border-primary mb-3">Isto feito, basta clicar em
                    <b>“Denunciar Agora”</b> e já
                    chegará à <b>página de
                        denúncias</b>
                </li>

                <p class="font text-center display-4 py-3">Página de Denúncia</p>

                <li class="list-group-item border border-info mb-3 text-info">Nesta tela, deverão ser
                    preenchidos os seguintes campos:

                    <ul>
                        <li class="list-group-item list-group-item-action border border-info my-3">Informações do
                            Denunciante: <b>Nome, CPF</b> e <b>Telefone</b>.
                        </li>
                        <li class="list-group-item list-group-item-action border border-info mb-3">O endereço do local
                            denunciado,
                            contendo: <b>Rua/Avenida,
                                número</b> e <b>bairro.</b></li>
                        <li class="list-group-item list-group-item-action border border-info mb-3">O <b>Denunciante</b> tem
                            como
                            opção
                            fazer alguma observação,
                            como por exemplo, a
                            respeito da gravidade da
                            situação, da dificuldade de acesso ao local, ou da grande circulação de pessoas na área.</li>
                        <li class="list-group-item list-group-item-action border border-info mb-3">Também é opcional a
                            <b>anexação de imagens</b> que forem úteis
                            como primeira
                            avaliação
                            por parte dos agentes de
                            saúde e responsáveis pelo trâmite da denúncia.</li>
                    </ul>
                </li>

            </ul>
        </main>

        <footer>
            <div class="container-fluid color text-center p-3">
                <img class="logo-footer rounded img-fluid" src="/estatico/img/logo-2.png"
                    alt="Logo 2 da prefeitura de Mogi Mirim">

                <p class=" mb-1">Copyright © 2020 | Todos os direitos reservados. Prefeitura de Mogi Mirim.</p>
                <p></p>Rua Doutor José Alves, 129 - Centro - 13800-900 - Mogi Mirim - SP - Brasil.
                    Tel.19 3814.1000</p>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>

    </body>

</html>