<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Cidadão</title>
</head>

<body>
    <h1>CADASTRO DENUNCIAS</h1>
    <form method=POST action="" enctype="multipart/form-data">

        <br></br>
    <div>
        <label for="nomeCidadao">Nome:</label>
        <input type="text" id="nomeCidadao" />
    </div><br>
    <div>
        <label for="cpfCidadao">CPF:</label>
        <input type="text" id="cpfCidadao" />
    </div><br>
    <div>
        <label for="telefoneCidadao">Telefone:</label>
        <input type="text" id="telefoneCidadao" />
    </div>

    <h3>Endereço do local da denuncia</h3>
    
    <div>
        <label for="ruaDenuncia">Rua:</label>
        <input type="text" id="ruaDenuncia" />
    </div><br>
    <div>
        <label for="bairroDenuncia">Bairro:</label>
        <input type="text" id="bairroDenuncia" />
    </div><br>
    <h5>Selecionar apenas imagens .jpeg .jpg ou .png</h5>
    <div>
        <input type="file" name="imagemDenuncia" id="imagemDenuncia" onchange="previewImagem()"/><br>
        <img style="width: 300px; height: 300px;"/><br><br>
    </div><br>
    <div>
        <label for="observacoesDenuncia">Observações</label>
        <textarea id="observacoesDenuncia"></textarea>
    </div><br>
    <input type="submit" value="Cadastrar">
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        function previewImagem(){
            var imagem = document.querySelector('input[name=imagemDenuncia]').files[0];
            var preview = document.querySelector('img')

            var reader = new FileReader();

            reader.onloadend = function(){
                preview.src = reader.result;
            }

            if(imagem){
                reader.readAsDataURL(imagem);
            }else{
                preview.src = "";
            }
        }
    </script>

</body>

</html>