<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Reset -->
    <link rel="stylesheet" href="/estatico/css/reset.css" />
    <link rel="stylesheet" href="/estatico/css/normalize.css" />    
    <title>Listagem de Visitas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/estatico/css/style.css" />    
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light identidade-visual">
            <a class="navbar-brand logo" href="#"><img src="/estatico/img/logo.png" alt=""></a>
            <div class="ml-auto">
                <a class="btn btn-danger text-white" href="/home">Voltar</a>
            </div>
        </nav>
    </header>

    <main class="container">
        <h1 class="text-center display-4 py-4">Listagem de Visitas</h1>

        <table class="table table-bordered table-hover table-responsive-lg" id="visita">
            <thead class="thead-light">
                <tr class="text-center">
                    <th>Nº Visita</th>
                    <th>Agente</th>
                    <th>Data</th>
                    <th>Atividade</th>
                    <th>Tipo Visita</th>
                    <th>Código do Munícipio</th>
                    <th>Munícipio</th>
                    <th>Area</th>
                    <th>Setor Censitário</th>
                    <th>Quarteirão</th>
                    <th>Execução</th>
                    <th>CAD ou Nº Ordem</th>
                    <th>Endereço</th>
                    <th>Numero / Complemento</th>
                    <th>Trabalhado</th>
                    <th>Pendência</th>
                    <th>Tipo de Recipiente</th>
                    <th>Situação do Recipiente</th>
                    <th>Recipiente</th>
                    <th>Controle Mecânico</th>
                    <th>Tratamento Químico</th>
                    <th>Amostra</th>
                    <th>Tipo de Larvas</th>
                    <th>Progamar Retorno</th>
                    <th>Laboratório</th>

                </tr>
            </thead>
            <tbody>
                <tr class="text-center" id="visita_${visita.codVisita}" for (visita in data.visita)>
                    <td>${visita.codVisita}</td>
                    <td>${visita.nome}</td>
                    <td>${visita.dataVisita}</td>
                    <td>${visita.atividade}</td>
                    <td>${visita.tipoVisita}</td>
                    <td>${visita.codMunicipio}</td>
                    <td>${visita.municipio}</td>
                    <td>${visita.area}</td>
                    <td>${visita.setorCensitario}</td>
                    <td>${visita.quarteirao}</td>
                    <td>${visita.execucao}</td>
                    <td>${visita.numCadOrdem}</td>
                    <td>${visita.endereco}</td>
                    <td>${visita.numComplemento}</td>
                    <td>${visita.Trabalhado}</td>                    
                    <td>${visita.pendencia}</td>
                    <td>${visita.tipoRecipiente}</td>
                    <td>${visita.situacaoRecipiente}</td>
                    <td>${visita.recipiente}</td>
                    <td>${visita.contrMecanico}</td>
                    <td>${visita.tratamentoQuimico}</td>
                    <td>${visita.amostra}</td>
                    <td>${visita.tiposLarvas}</td>
                    <td>${visita.progRetorno}</td>
                    <td>${visita.laboratorio}</td>

                    
                </tr>

            </tbody>
            
              </table>
    </main>

    <footer class="pt-3">
        <div class="jumbotron mb-0 identidade-visual">
            <img class="logo-footer mx-auto d-block img-fluid" src="/estatico/img/logo-2.png" alt="">

            <p class="copyright text-center mb-0">Copyright © 2020 | Todos os direitos reservados. Prefeitura de Mogi
                Mirim.</p>
            <p class="copyright text-center">Rua Doutor José Alves, 129 - Centro - 13800-900 - Mogi Mirim - SP - Brasil.
                Tel.19 3814.1000</p>
        </div>
    </footer>
</body>
</html>