<html>



<body>
    
        <div>
            <h1>Visitas</h1>
        </div>

        
            <ul>
                <li> <a href="/home">Home</a></li>
                <li> <a href="/visita-cadastro">Nova visita</a></li>
                <li> <a href="/visita-consulta">Consultar visitas</a></li>
            </ul>
    
    
    </body>

</html>