main {
    min-height: calc(100vh - 66px - 200px);
}

.img-1 {
    width: 474px;
    height: 338px;
}

.img-2 {
    width: 1100px;
    height: 338px;
}

@media screen and (min-width: 0) {
    .font {
        font-size: 7.5vw;
    }
    p.font {
        font-size: 6vw;
    }
}

.input-form {
    border: 0;
    border-radius: 0;
    border-left: 3px solid lightblue;
    transition: .4s;
}

.input-form:focus {
    outline: 0 !important;
    box-shadow: none;
    border-left: 3px solid blue;
}

.btn-custom {
    background-color: #f05555;
    border-radius: 0;
    color: #fff;
}

.btn-custom:hover {
    background-color: #952323;
}

.imgMosquito {
    max-width: 390px;
}

p.p-sintomas {
    margin-top: 40px;
    margin-bottom: 40px;
}

.sintomas {
    font-size: 1.5em;
    margin-left: 50px;
}

.img-doente {
    width: 450px;
    height: 338px;
}

.img-banner-dengue {
    margin: 25px;
    width: 600px;
    height: 275px;
}

.table-bordered {
    border: none;
}

@media screen and (min-width: 768px) {
    .font {
        font-size: 5vw;
    }
    p.font {
        font-size: 4vw;
    }
}

@media screen and (min-width: 992px) {
    .font {
        font-size: 5vw;
    }
    p.font {
        font-size: 4vw;
    }
}

@media screen and (min-width: 1200px) {
    .font {
        font-size: 4vw;
    }
    p.font {
        font-size: 3vw;
    }
}