<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Reset -->
        <link rel="stylesheet" href="/estatico/css/reset.css" />
        <link rel="stylesheet" href="/estatico/css/normalize.css" />
        <title>Listagem de Denúncia</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="/estatico/css/cor-principal.css" />
        <link rel="stylesheet" href="/estatico/css/header.css" />
        <link rel="stylesheet" href="/estatico/css/footer.css" />
        <link rel="stylesheet" href="/estatico/css/main.css" />
    </head>

    <body>
        <header>
            <nav class="color nav navbar-expand-md justify-content-between">
                <img class="logo-header rounded p-3" src="/estatico/img/logo.png" alt="Logo da prefeitura de Mogi Mirim">
        
                <div class="nav justify-content-center align-self-center">
                    <a class="btn-principal nav-item btn m-1" href="/home">Voltar</a>                        
                </div>                
            </nav>
        </header>

        <main class="container">

            <div if(data.semDenuncia)>
                <h1 class="font text-center display-4 py-4">Nenhum cadastro de denúncia foi encontrado!</h1>
            </div>

            <div if(data.comDenuncia)>
            <h1 class="font text-center display-4 py-4">Listagem de Denúncia</h1>

            <table class="table table-bordered table-hover table-responsive" id="denuncias">
                <thead class="thead-light">
                    <tr class="text-center">
                        <th>ID</th>
                        <th>Nome Cidadão</th>
                        <th>CPF</th>
                        <th>Telefone</th>
                        <th>Rua</th>
                        <th>Bairro</th>
                        <th>Imagem</th>
                        <th>Observações</th>
                        <th>Status</th>
                        <div if(data.administrador)>
                            <th>Alterar Status</th>
                        </div>
                        <div if(data.agenteSaude)>
                            <th>Alterar Status</th>
                        </div>
                    </tr>
                </thead>

                <tbody>
                    <tr id="denuncia_${denuncia.id}" for (denuncia in data.denuncias)>
                        <td>${denuncia.id}</td>
                        <td>${denuncia.cidadao}</td>
                        <td>${denuncia.cpf}</td>
                        <td>${denuncia.telefone}</td>
                        <td>${denuncia.rua}</td>
                        <td>${denuncia.bairro}</td>
                        <td><a href="/denuncia-visualiza/${denuncia.id}">Visualizar Imagem</a></td>
                        <td>${denuncia.observacoes}</td>
                        <td>${denuncia.status}</td>
                        <div if(data.administrador)>
                            <td><a href="/denuncia-altera/${denuncia.id}">Alterar Status</a></td>
                        </div>
                        <div if(data.agenteSaude)>
                            <td><a href="/denuncia-altera/${denuncia.id}">Alterar Status</a></td>
                        </div>
                    </tr>
                </tbody>
            </table>
            </div>
        </main>

        <footer>
            <div class="container-fluid color text-center p-3">
                <img class="logo-footer rounded img-fluid" src="/estatico/img/logo-2.png" alt="Logo 2 da prefeitura de Mogi Mirim">

                <p class="mb-1">Copyright © 2020 | Todos os direitos reservados. Prefeitura de Mogi Mirim.</p>
                <p>Rua Doutor José Alves, 129 - Centro - 13800-900 - Mogi Mirim - SP - Brasil.
                    Tel.19 3814.1000</p>
            </div>
        </footer>
    </body>

</html>